<nav class="bottom-nav">

    <a href="/dashboard" class="nav-item">
        <span>🏠</span>
        <small>Home</small>
    </a>

    <a href="/feed" class="nav-item">
        <span>📰</span>
        <small>Feed</small>
    </a>

    <a href="/createpost" class="nav-item">
        <span>➕</span>
        <small>Post</small>
    </a>

    <a href="/searchuser" class="nav-item">
        <span>🔍</span>
        <small>Search</small>
    </a>

    <a href="/notifications" class="nav-item">
        <span>🔔</span>
        <small>Alerts</small>
    </a>

    <a href="/profile" class="nav-item">
        <span>👤</span>
        <small>Profile</small>
    </a>

    {% if session.user_id %}
    <a href="/logout" class="nav-item">
        <span>🚪</span>
        <small>Logout</small>
    </a>
    {% endif %}

</nav>