<div class="bottom-nav-container">

    <a href="/feed" class="nav-item">
        <span class="nav-icon"><i class="bi bi-house-fill"></i></span>
    </a>

    <a href="/searchpost" class="nav-item">
        <span class="nav-icon"><i class="bi bi-search"></i></span>
    </a>

    <a href="/createpost" class="nav-item">
        <span class="nav-icon"><i class="bi bi-plus-circle-fill"></i></span>
    </a>

    <!-- BAS YAHAN /dashboard KI JAGAH /profile KAR DIYA HAI -->
    <a href="/profile" class="nav-item">
        <span class="nav-icon"><i class="bi bi-person-fill"></i></span>
    </a>

</div>